@using Presentation.Data.Models
@model LogInViewModel
@{
    ViewData["Title"] = "Log In";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="LogIn">
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input asp-for="RememberMe" class="form-check-label">
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>
    <button type="submit" class="btn btn-outline-primary btn-sm">Log In</button>
</form>